
/*CSS Rest*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*general*/
body {
	font-family: 'Open Sans',sans-serif;
}

/*nav section*/
nav {
	width: 100%;
	position: fixed;
	background-color: white;
	z-index: 1;
	min-width: 5rem;
	min-height: 4rem;
	display: flex;
	border: 1px solid lightgray;
}

nav .nav, nav .nav-logo {
	margin: 1rem;
	padding: 	3px;
	
}

footer {
	text-align: center;
	font-size: 0.8rem;
}

.right-nav {
	padding-left: 25rem;
	display: inline;
}

.tuitt-button {
	background-color: #c2195b;
	border-radius: 20px;
	border: none;
	padding: 10px;
	font-weight: bold;
	color: white;
	width: 100px;

}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 40rem;
	width: 100%;
	min-height: 25%;
	display: inline-block;
	margin-top: 10%;
	
}

#bg-image .front-bg {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.50);
	min-width: 100%;
	min-height: 100%;
	
}

.title {
	padding-left: 35%;
	font-family: 'Zilla Slab';
	font-size: 50px;
	text-align: right;
	margin-right: 12%;
	color: white;
}

.title-2 {
	font-family: 'Zilla Slab';
	position: relative;
	text-align: center;
}

.introduction-description {
	margin-top: 10%;
	

}
.subtitle {
	display: inline-block;
	padding-top: 5%;
	margin-right: 12%;
	margin-left: 60%;
	margin-bottom: 10px;
	text-align: right;
	font-size: 22px;
	color: white;

}

.apply-button {
	background-color: #c2195b;
	border-radius: 20px;
	border: none;
	padding: 10px;
	font-weight: bold;
	color: white;
	width: 150px;
	display: inline-block;
	margin-left: 75%;
}


.pre-footer {
	display: inline-block;
	background-color: #f7fbfb;
	text-align: center;
	width: 100%;
	padding-top: 30px;
}

.book-button {
	background-color: #336589;
	width: 100px;
	height: 25px;
	border-radius: 15px;
	border: none;
	color: white;
	font-weight: bold;
	margin-bottom: 10vw;
	
}

.intro {
	display: inline-block;
	min-height: 30vh;
	padding-top: 60px;
}

.introduction-description {
	text-align: left;
}

section p, section h2 {
	margin: 2rem;
	padding: 2rem;
}